<div class="container mat-elevation-z8">
    <h2 class="mat-h2">Listado de Opciones de Pregunta</h2>
    <div class="d-flex justify-content-end mb-3">
      <button mat-raised-button color="primary" routerLink="/reto-pregunta-opcion/new">Nueva Opción</button>
      <button mat-raised-button color="" routerLink="/home">Inicio</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Columna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let opcion">{{ opcion.id }}</td>
      </ng-container>
  
      <!-- Columna Reto-Pregunta -->
      <ng-container matColumnDef="id_reto_pregunta">
        <th mat-header-cell *matHeaderCellDef>Reto-Pregunta</th>
        <td mat-cell *matCellDef="let opcion">{{ opcion.reto_pregunta }}</td>
      </ng-container>
  
      <!-- Columna Descripción -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let opcion">{{ opcion.descripcion }}</td>
      </ng-container>
  
      <!-- Columna URL Imagen -->
      <ng-container matColumnDef="url_imagen">
        <th mat-header-cell *matHeaderCellDef>URL Imagen</th>
        <td mat-cell *matCellDef="let opcion">{{ opcion.url_imagen }}</td>
      </ng-container>
  
      <!-- Columna Correcta -->
      <ng-container matColumnDef="correcta">
        <th mat-header-cell *matHeaderCellDef>Correcta</th>
        <td mat-cell *matCellDef="let opcion">{{ opcion.correcta ? 'Sí' : 'No' }}</td>
      </ng-container>
  
      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let opcion">
          <button mat-icon-button color="primary" routerLink="/reto-pregunta-opcion/edit/{{ opcion.id }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteOpcion(opcion.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="paginator-container">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>