<div class="container mat-elevation-z8">
  <h2 class="mat-h2">Listado de Contenidos</h2>
  <div class="d-flex justify-content-end mb-3">
    <button mat-raised-button color="primary" routerLink="/contenido/new">Nuevo Contenido</button>
    <button mat-raised-button color="" routerLink="/home">Inicio</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Columna ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let contenido">{{ contenido.id }}</td>
    </ng-container>

    <!-- Columna Tipo de Contenido -->
    <ng-container matColumnDef="tipo_contenido">
      <th mat-header-cell *matHeaderCellDef>Tipo de Contenido</th>
      <td mat-cell *matCellDef="let contenido">{{ contenido.tipo_contenido }}</td>
    </ng-container>

    <!-- Columna Tema -->
    <ng-container matColumnDef="tema">
      <th mat-header-cell *matHeaderCellDef>Tema</th>
      <td mat-cell *matCellDef="let contenido">{{ contenido.tema }}</td>
    </ng-container>

    <!-- Columna Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let contenido">{{ contenido.nombre }}</td>
    </ng-container>

    <!-- Columna URL -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let contenido">{{ contenido.url }}</td>
    </ng-container>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let contenido">
        <button mat-icon-button color="primary" routerLink="/contenido/edit/{{ contenido.id }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteContenido(contenido.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="paginator-container">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>