<div class="container mat-elevation-z8">
    <h2 class="mat-h2">Listado de Asignaciones Persona-Unidad</h2>
    <div class="d-flex justify-content-end mb-3">
      <button mat-raised-button color="primary" routerLink="/persona-unidad/new">Nueva Asignación</button>
      <button mat-raised-button color="" routerLink="/home">Inicio</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Columna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let asignacion">{{ asignacion.id }}</td>
      </ng-container>
  
      <!-- Columna Persona -->
      <ng-container matColumnDef="id_persona">
        <th mat-header-cell *matHeaderCellDef>Persona</th>
        <td mat-cell *matCellDef="let asignacion">{{ asignacion.persona }}</td>
      </ng-container>
  
      <!-- Columna Unidad -->
      <ng-container matColumnDef="id_unidad">
        <th mat-header-cell *matHeaderCellDef>Unidad</th>
        <td mat-cell *matCellDef="let asignacion">{{ asignacion.unidad }}</td>
      </ng-container>
  
      <!-- Columna Tipo Estado -->
      <ng-container matColumnDef="id_tipo_estado">
        <th mat-header-cell *matHeaderCellDef>Tipo Estado</th>
        <td mat-cell *matCellDef="let asignacion">{{ asignacion.tipo_estado }}</td>
      </ng-container>
  
      <!-- Columna Fecha Inicio -->
      <ng-container matColumnDef="fecha_inicio">
        <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
        <td mat-cell *matCellDef="let asignacion">{{ asignacion.fecha_inicio || 'Sin fecha' }}</td>
      </ng-container>
  
      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let asignacion">
          <button mat-icon-button color="primary" routerLink="/persona-unidad/edit/{{ asignacion.id }}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteAsignacion(asignacion.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="paginator-container">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>