<div class="container mat-elevation-z8">
  <h2 class="mat-h2">Listado de Temas</h2>
  <div class="d-flex justify-content-end mb-3">
    <button mat-raised-button color="primary" routerLink="/tema/new">Nuevo Tema</button>
    <button mat-raised-button color="" routerLink="/home">Inicio</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Columna ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let tema">{{ tema.id }}</td>
    </ng-container>

    <!-- Columna Unidad -->
    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef>Unidad</th>
      <td mat-cell *matCellDef="let tema">{{ tema.unidad }}</td>
    </ng-container>

    <!-- Columna Título -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let tema">{{ tema.titulo }}</td>
    </ng-container>

    <!-- Columna Orden -->
    <ng-container matColumnDef="orden">
      <th mat-header-cell *matHeaderCellDef>Orden</th>
      <td mat-cell *matCellDef="let tema">{{ tema.orden }}</td>
    </ng-container>

    <!-- Columna Vigente -->
    <ng-container matColumnDef="vigente">
      <th mat-header-cell *matHeaderCellDef>Vigente</th>
      <td mat-cell *matCellDef="let tema">{{ tema.vigente === 'S' ? 'Sí' : 'No' }}</td>
    </ng-container>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let tema">
        <button mat-icon-button color="primary" routerLink="/tema/edit/{{ tema.id }}">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTema(tema.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="paginator-container">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>